<div>
  <div class="row">
      <div class="column">
          <!-- <form [formGroup]="searchForm" (ngSubmit)="onSubmit()"> -->
          <form cdkTrapFocus [formGroup]="searchForm">
              <mat-form-field>
                <input 
                  matInput placeholder="Title" 
                  name="one"
                  id="formtitle"
                  formControlName="formtitle">
              </mat-form-field>
              <mat-form-field style="margin-left: 10px;">
                  <input 
                    matInput placeholder="Author" 
                    name="three"
                    id="formauthor"
                    formControlName="formauthor">
                </mat-form-field>
              <mat-form-field style="margin-left: 10px; width:15%">
                <input 
                  matInput placeholder="Result count" 
                  name="two"
                  id="formcount"
                  formControlName="formcount"
                  required>
              </mat-form-field>
              <label *ngIf="searchForm.get('formcount').invalid"></label>
              <mat-radio-group 
                style="margin-left:10px" 
                class="example-radio-group"
                formControlName="formorder">
                <mat-radio-button class="example-radio-button" *ngFor="let item of orderBy" [value]="item">
                  {{item}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-form-field
                style="margin-left:10px"  
                
                >
                <mat-select placeholder="Type of material"
                            formControlName="formselect"
                            >
                  <mat-option *ngFor="let item of opcije" [value]="item" >
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </form>
     </div>     
  </div>

<!-- ////////////////////////////////////////////////////////////// -->


  <div>
        <table mat-table [dataSource]="najdeno"> 
          <ng-container matColumnDef="Title">
              <th mat-header-cell  *matHeaderCellDef> Book title </th>
              <td mat-cell *matCellDef="let item"> 
                  <div style="width: 90%; margin-left: 5px">
                    {{item.volumeInfo.title}}
                  </div>
               </td>
          </ng-container>
          <ng-container  matColumnDef="Page count" >
            <th mat-header-cell *matHeaderCellDef> Page count </th>
            <td mat-cell *matCellDef="let item">
              <div style="width: 100px; margin-left: 2px">
               {{item.volumeInfo.pageCount}}  
               </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let item"> 
              <div style="width:150px">
                <a href="{{item.volumeInfo.previewLink}}"> Preview </a> 
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Thumbnail">
              <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
              <td mat-cell *matCellDef="let item"> 
                <div>
                    
                      
                      <div *ngIf="item.volumeInfo.imageLinks?.smallThumbnail" >
                        <img src="{{item.volumeInfo.imageLinks?.smallThumbnail}}" alt="no_img" height="100" width="100" (click)="openDialog(item.volumeInfo.imageLinks?.thumbnail)">
                      </div>
                      <div *ngIf="!item.volumeInfo.imageLinks?.smallThumbnail">
                        <a href="{{item.volumeInfo.previewLink}}">
                          <img src="./assets/images/noimg.jpeg" alt="no_img" height="100" width="100">
                        </a>
                      </div>
                       
                </div>
              </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr [@trigger1] mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <button (click)="openDialog()">
          klik me
      </button>
  </div> 
</div>

