<div>
  <div class="row">
      <div class="column">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input 
                  matInput placeholder="Title" 
                  name="one"
                  id="formtitle"
                  formControlName="formtitle">
              </mat-form-field>
              <mat-form-field style="margin-left: 10px;">
                  <input 
                    matInput placeholder="Author" 
                    name="three"
                    id="formauthor"
                    formControlName="formauthor">
                </mat-form-field>
              <mat-form-field style="margin-left: 10px; width:15%">
                <input 
                  matInput placeholder="Result count" 
                  name="two"
                  id="formcount"
                  formControlName="formcount">
              </mat-form-field>
              <label *ngIf="searchForm.get('formcount').invalid"></label>
              <mat-radio-group 
                style="margin-left:10px" 
                class="example-radio-group"
                formControlName="formorder">
                <mat-radio-button class="example-radio-button" *ngFor="let item of orderBy" [value]="item">
                  {{item}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-form-field
                style="margin-left:10px"  
                >
                <mat-select placeholder="Tip čtiva"
                            formControlName="formselect">
                  <mat-option *ngFor="let item of opcije" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button style="margin-left:15px" type="submit" color="primary" mat-raised-button [disabled]="searchForm.invalid">
                  Submit
                </button>
                          
          </form>
        </div>
      
  </div>

<!-- ////////////////////////////////////////////////////////////// -->


  <div>
    <ul>
      <li *ngFor="let item of najdeno">
          {{item.volumeInfo.title}}  |  {{item.volumeInfo.pageCount}}
      </li>
    </ul>
      <table mat-table [dataSource]="najdeno"> 
          <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef> Book title </th>
              <td mat-cell *matCellDef="let item"> {{item.volumeInfo.title}} </td>
          </ng-container>
          <ng-container matColumnDef="Page count" >
            <th mat-header-cell *matHeaderCellDef> Page count </th>
            <td mat-cell *matCellDef="let item" > {{item.volumeInfo.pageCount}} </td>
          </ng-container>
          <ng-container matColumnDef="Link" style="margin-left: 5px">
            <th mat-header-cell *matHeaderCellDef style="margin-left: 5px"> Link </th>
            <td mat-cell *matCellDef="let item"> <a href="{{item.volumeInfo.previewLink}}"> Preview </a> </td>
          </ng-container>
          <ng-container matColumnDef="Tip čtiva" >
              <th mat-header-cell *matHeaderCellDef> Page count </th>
              <td mat-cell *matCellDef="let item" > {{item.volumeInfo.pageCount}} </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput placeholder="Input" 
        name="prvi"
        id="prviinput"
        [formControl]="queryField"
         >    
    </mat-form-field>
    <label>{{textt}}</label>
  </div>
</div>