<div style="display:flex; flex-direction: column; margin-left: 20px">
  <div>
    <!-- <button (change)="upload($event)" accept=".png,.jpg,.jpeg" mat-raised-button style="margin-top: 15px; margin-bottom: 15px">
      Upload
    </button> -->
    <input style="margin-top: 20px" type="file" (change)="upload($event)" accept=".png,.jpg,.jpeg">
    <div style="margin-right: 20px; background-color: beige">
      <div [style.width]="(uploadProgress | async) + '%'" 
          [attr.aria-valuenow]="(uploadProgress | async) + '%'" 
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 30px; background-color: green; border: black; border-style: solid; border-width: 2px; margin-top: 20px" 
          role="progressbar">

      </div>
    </div>
    <br>
    <div style="padding-bottom: 10px" role="group" *ngIf="uploadState | async; let state">
      <button mat-raised-button  type="button" (click)="task.pause()" [disabled]="state === 'paused'">
        Pause
      </button>
      <button mat-raised-button color="primary" style="margin-left: 10px" type="button" (click)="task.resume()" [disabled]="state === 'running'">
          Resume
      </button>
      <button style="margin-left: 50px" mat-raised-button type="button" color="warn" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">
          Cancel
      </button>
    </div>
    <div role="alert" *ngIf="downloadURL | async; let downloadSrc">
      File uploaded: <a [href]="downloadSrc"> aaa</a>
    </div>
  </div>
  <button (click)="clicktest()"> aaa</button>
  <!--  -->
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Big meow</mat-card-title>
        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo missing">
      <mat-card-content>
        <p>
          Wtf
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
  </mat-card>
  <!-- <img style="width: 500px; height: 300px" src="https://firebasestorage.googleapis.com/v0/b/my-test-project-c4ce1.appspot.com/o/8j2muravvrt?alt=media&token=725c3566-e679-4174-b1c1-aa0265a5b976"> -->
  <!--  -->
</div>
  