<div style="display: flex; flex-direction: column">
  <div class="header">
    <nav>
      <a routerLink="/home" routerLinkActive="active" mat-raised-button style="width: 100px" class="button">
        Home
      </a>
      <a routerLink="/search-knjige" routerLinkActive="active" mat-raised-button style="margin-left: 70px;width: 100px"class="button">
        Išči
      </a>
      <a routerLink="/vaja-1" routerLinkActive="active" mat-raised-button style="margin-left: 70px; width: 100px"class="button">
        Vaja1
      </a>
      <a routerLink="/vaja-2" routerLinkActive="active" mat-raised-button style="margin-left: 70px; width: 100px"class="button">
        Vaja2
      </a>
    </nav>
  </div>
  <div class="page-content" style="width:100%">
    <router-outlet></router-outlet>
    <!-- <app-poste></app-poste>  -->
  </div>
</div>





