

<div style="padding-top: 50px; padding-left: 50px;padding-right: 50px;padding-bottom: 50px">
  <h2>Test aplikacija</h2>
  <p>
    Prva-komponenta works!
  </p>
  
  <button type="button" class="btn btn-primary">Bootstrap button!</button>
  <p></p>
  <div>
    <div class="e-input-group e-small" style="width: 33%; border-style: solid; border-width: 2px;">
      <input class="e-input" type="text" placeholder="Syncfusion works!" />
    </div>
    <div class="e-input-group e-small" style="width: 67%; border-style: solid; border-width: 2px;">
      <input class="e-input" type="text" placeholder="Syncfusion works here too!" />
    </div>
      <div>
        <button ejs-button class="e-primary">Button</button>
    </div>
  </div>
  

</div>


